[Unit]
Description=Adbyss
Wants=network-online.target
After=network.target network-online.target

[Timer]
Unit=adbyss.service
OnCalendar=daily
AccuracySec=12h
Persistent=true

[Install]
WantedBy = timers.target
